<!DOCTYPE html>
<html>
 <head>
  <title>Neemi  -- Statistics</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <script>
   var accessToken = '{{ user_profile.access_token }}';
  </script>

  <script src="/static/app.js"></script>

  <link rel="stylesheet" href="/static/style.css" />
 </head>

 <body>
    <h1><a href="/">Neemi -- Statistics</a></h1>
    {% if request.user.is_authenticated %}
    {user : {{request.user.username }}}
<br>
    {authenticated services :
    {%for sservice in request.user.services%}
      {{sservice}}
    {% endfor %}
    }
    {% endif %}

    {% if request.user.is_authenticated %}
 

    <br><br><br>
    <p>Get statistics for all services:</p>
    <form action="/get_stats/" method="post">{% csrf_token %}

     {{ form.as_p }}
     <input type="submit" value="Get statistics" /><br><br>
     </form>
	 <br>
      <a href=./index.html>

     <br><br><br>
     <a href="/"> Back to main </a>

    <br><br>
    <form action="/logout/" method="post">{% csrf_token %}
    <input type="submit" value="Log Out" />
    </form>

    {% endif %}
  </body>
</html>
